* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background: #0b0b10;
}

/* GRID TEXTURE */
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
    z-index: -2;
}

/* NAV LINKS */
.nav-link {
    position: relative;
    color: #9ca3af;
    padding: 4px 0;
    transition: all 0.3s ease;
}

/* UNDERLINE (SMOOTH + GRADIENT) */
.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #8b5cf6, #22d3ee);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

/* HOVER EFFECT */
.nav-link:hover {
    color: #ffffff;
    transform: translateY(-2px);
    text-shadow: 0 0 8px rgba(139, 92, 246, 0.6);
}

/* UNDERLINE EXPAND */
.nav-link:hover::after {
    width: 100%;
}

/* MOBILE MENU ACTIVE */
#mobileMenu.active {
    transform: translateX(0);
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* MOBILE LINKS */
.mobile-link {
    color: #9ca3af;
    font-size: 1.2rem;
    transition: all 0.25s ease;
}

/* MOBILE HOVER */
.mobile-link:hover {
    color: white;
    transform: translateX(8px);
    text-shadow: 0 0 6px rgba(139, 92, 246, 0.5);
}


/* HERO BASE */
.hero-section {
    position: relative;
    min-height: 100vh;
    /* background: #050508; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* CONTENT */
.hero-content {
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

/* BADGE */
.badge {
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6px 14px;
    border-radius: 999px;
    color: #aaa;
    backdrop-filter: blur(10px);
}

/* LOGO */
.logo-container {
    position: relative;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 90px;
    z-index: 2;
}

/* ROTATING GEAR */
.gear {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;

    /* MULTI-LAYER RING LOOK */
    border: 2px dashed rgba(139, 92, 246, 0.6);
    box-shadow:
        0 0 20px rgba(139, 92, 246, 0.4),
        inset 0 0 20px rgba(139, 92, 246, 0.2);

    /* SUBTLE GRADIENT OVERLAY */
    background: radial-gradient(circle, transparent 60%, rgba(139, 92, 246, 0.1));

    animation: rotateGear 12s linear infinite;
}

.gear.inner {
    width: 120px;
    height: 120px;
    border: 1px solid rgba(139, 92, 246, 0.4);
    animation: rotateReverse 8s linear infinite;
}

@keyframes rotateGear {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* TITLE */
.hero-title {
    font-family: 'Gagalin', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-shadow: 0 0 20px rgba(139, 92, 246, 0.4);
    background: linear-gradient(90deg, #cb5eef, #714ace, #22d3ee, #000000);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 5s linear infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}

@media(min-width:768px) {
    .hero-title {
        font-size: 5rem;
    }
}

/* DESCRIPTION */
.hero-desc {
    max-width: 600px;
    color: #9ca3af;
    line-height: 1.7;
}

/* BUTTONS */
.hero-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* BUTTON BASE */
.btn {
    padding: 12px 28px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 15px;
}

/* PRIMARY */
.btn.primary {
    background: #8b5cf6;
    color: black;
}

.btn.primary:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(139, 92, 246, 0.8);
}

/* SECONDARY */
.btn.secondary {
    border: 1px solid #8b5cf6;
    color: #8b5cf6;
}

.btn.secondary:hover {
    background: #8b5cf6;
    color: black;
}

/* FADE ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.delay {
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade-in.delay {
    animation-delay: 0.4s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TITLE GLOW */
h1 {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}


/* TOOL CARD */
.tool-card {
    position: relative;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
    transition: 0.7s all ease;
}

.tool-card:hover {
    transform: translateY(-10px) scale(1.02);
    border-color: rgba(139, 92, 246, 0.6);
}

/* GLOW BORDER EFFECT */
.tool-card::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;

    background: linear-gradient(120deg,
            transparent,
            #8b5cf6,
            #22d3ee,
            transparent);

    background-size: 300% 300%;
    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: -1;
}

/* INNER BACKGROUND (keeps content clean) */
.tool-card::after {
    content: "";
    position: absolute;
    inset: 1px;
    background: #111118;
    border-radius: inherit;
    z-index: -1;
}

/* HOVER TRIGGER */
.tool-card:hover::before {
    opacity: 1;
    animation: borderFlow 3s linear infinite;
    filter: blur(2px);
}


@keyframes borderFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
    }
}

/* LINK */
.tool-link {
    color: #8b5cf6;
    font-size: 14px;
    position: relative;
    transition: all 0.3s ease;
}

/* LINK HOVER */
.tool-link:hover {
    color: white;
    text-shadow: 0 0 8px rgba(139, 92, 246, 0.6);
    letter-spacing: 0.5px;
}

/* ICON SIZE */
[data-lucide] {
    width: 28px;
    height: 28px;
    stroke-width: 2;
}

/* SEARCH INPUT */
#searchInput {
    backdrop-filter: blur(10px);
}

/* footer */
/* SOCIAL ICONS */
.social-icon {
    transition: all 0.3s ease;
}

/* ICON SIZE */
[data-lucide] {
    width: 20px;
    height: 20px;
}

/* HOVER EFFECT */
.social-icon:hover {
    color: #8b5cf6;
    transform: translateY(-3px) scale(1.1);
    text-shadow: 0 0 10px rgba(139, 92, 246, 0.6);
}

/* under construction */
/* GEAR ANIMATION */
.demo-gear {
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* TITLE GLOW */
.glow {
    text-shadow: 0 0 20px rgba(139, 92, 246, 0.4);
}